.icon-vnc {
    background-image: url("/images/silk/application_osx_terminal.png") !important;
    width:20px;
    height:20px;    
}

.icon-vm {
    background-image: url("/images/silk/server.png") !important;
}

.icon-cluster {
    background-image: url("/images/fugue/servers-network.png") !important; 
}

.icon-node {
    background-image: url("/images/fugue/server.png") !important;     
}

.icon-user {
    background-image: url("/images/silk/user.png") !important;
}

.icon-drive {
    background-image: url("/images/silk/drive.png") !important;
}

.icon-network {
    background-image: url("/images/misc/network_ip.png") !important;
}

.icon-add {
    background-image: url("/images/silk/add.png") !important;
}

.icon-delete {
    background-image: url("/images/silk/delete.png") !important;
}

.icon-folder {
    background-image: url("/images/silk/folder.png") !important;
}

.icon-finished {
     background-image: url("/images/silk/accept.png") !important;   
}

.icon-failed {
     background-image: url("/images/silk/cancel.png") !important;   
}

.pull-right {
    float:right;
    text-align: right;
}

.icon-standby {
     background-image: url("/images/fugue/clock.png") !important;  
}

.icon-standby-on {
     background-image: url("/images/fugue/clock--plus.png") !important;  
}

.icon-standby-off {
     background-image: url("/images/fugue/clock--minus.png") !important;  
}